/* *{
    border: 1px solid red;
} */


/* NAV SECTION */
.nav-container {
    display: flex;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
}


.logo-nav-container {

}

.logo-nav-img {
    width: 160px;
    padding: 20px;
}

.ul-nav-container {
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 40px;
 
    
}

ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

ul a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
   
}

a {
    color: #000;
}

.ul-list {
    display: flex;  
    gap: 70px; 
    height: 100%;
}


.ul-list li {
    height: 100%;
}

.ul-list li a {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 0.3s linear;
}

.ul-list li a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #004B7F;
    margin: auto;
    display: block;
    bottom: 25px;
    left: 0;
}

.ul-list li a:hover{
    color: #004B7F;
}

.ul-list li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

/* SELL SECTION */

.sell-section {
    background-color: #004B7F;
    width: 100%;
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
}

.sell-section-img-section {
    height: 88vh;
}

.sell-section-img {
    object-fit: cover;
    width: 50%;
    height: 88vh;
}

.sell-section-text-section {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.big-text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 700;
    font-size: 50px;
    padding: 40px 0 0 40px;
}

.medium-text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 200 ;
    font-size: 20px;
    padding: 0 40px 0 40px;
}

.small-text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    padding: 0 40px 0 40px;
}


.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: #FFF;
    border-radius: 100px;
    font-weight: 600;
    color: #000;
    box-shadow: 0 0 0 2px #ffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    font-family: 'Montserrat', sans-serif;
    width: 300px;
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #E5E7E9;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #000;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 300px;
    height: 300px;
    opacity: 1;
  }
  
  /* RESPONSIVE SECTION */
  @media (max-width:800px){

  
.sell-section {
    background-color: #004B7F;
    width: 100%;
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
}

.sell-section-img-section {
    height: 88vh;
}

.sell-section-img {
    object-fit: cover;
    width: 50%;
    height: 88vh;
}

.sell-section-text-section {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.big-text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 700;
    font-size: 45px;
    padding: 40px 0 0 40px;
}

.medium-text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 200 ;
    font-size: 22px;
    padding: 0 40px 0 40px;
    margin-bottom: 0;
}

.small-text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    padding: 0 40px 0 40px;
}


.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: #FFF;
    border-radius: 100px;
    font-weight: 600;
    color: #000;
    box-shadow: 0 0 0 2px #ffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    font-family: 'Montserrat', sans-serif;
    width: 300px;
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #E5E7E9;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #000;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 300px;
    height: 300px;
    opacity: 1;
  }
}  
